* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: Raleway;
}

.nav {
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.nav__log {
  display: inline-block;
  font-family: Raleway;
  font-size: 1.5rem;
  color: #08A6E4;
  padding: 0.5rem;
}
.nav__menu {
  position: absolute;
  right: 0%;
  padding: 1rem;
}
.nav__navbar {
  display: none;
  list-style: none;
}

@media only screen and (min-width: 1000px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .nav__log {
    font-size: 5rem;
  }
  .nav__menu {
    display: none;
  }
  .nav__navbar {
    display: flex;
    font-size: 3rem;
  }
  .nav__navbar__items {
    list-style: none;
  }
  .nav__navbar__items li {
    display: inline-block;
    padding-left: 4rem;
  }
}
.header {
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.header__content {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.header__content__title {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
.header__content__description {
  font-size: 1rem;
  width: 65%;
  margin: auto;
  padding-bottom: 2rem;
}
.header__content__button {
  background: #08A6E4;
  color: #FFF;
  font-family: Open Sans;
  padding: 1rem 6rem;
  border-radius: 2rem;
  border-color: transparent;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
}
.header__background {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transform: scale(2);
}

@media only screen and (min-width: 1000px) {
  .header__content {
    padding-top: 10rem;
  }
  .header__content__title {
    font-size: 7rem;
  }
  .header__content__description {
    font-size: 2.5rem;
    padding-bottom: 4rem;
  }
  .header__content__button {
    padding: 2rem 25rem;
    font-size: 2rem;
    border-radius: 5rem;
  }
  .header__background {
    width: 100%;
    height: 100%;
    transform: scale(1);
    padding: 0%;
  }
}
.why-us {
  width: 100%;
  text-align: center;
  padding-top: 3.5rem;
}
.why-us__title {
  font-size: 2rem;
  padding-bottom: 3rem;
}
.why-us__content__article {
  width: 100%;
}
.why-us__content__article--red {
  transform: translateX(30%);
}
.why-us__content__article--person {
  transform: translateX(-30%);
}
.why-us__content__article--blue {
  transform: translateX(50%);
}
.why-us__content__article--eye {
  transform: translate(-30%, -30%);
}
.why-us__content__article--green {
  transform: translateX(35%);
}
.why-us__content__article--box {
  transform: translateX(-30%);
}
.why-us__content__article__title {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.why-us__content__article__description {
  padding-bottom: 2rem;
  font-size: 0.8em;
  width: 25%;
  margin: auto;
}

@media only screen and (min-width: 1000px) {
  .why-us {
    margin: auto;
  }
  .why-us__title {
    font-size: 5.5rem;
    padding-bottom: 3rem;
  }
  .why-us__content {
    width: 85%;
    margin: auto;
    display: flex;
  }
  .why-us__content__article {
    width: 100%;
  }
  .why-us__content__article--red {
    width: 6rem;
  }
  .why-us__content__article--person {
    width: 5rem;
  }
  .why-us__content__article--blue {
    width: 6rem;
  }
  .why-us__content__article--eye {
    width: 6rem;
  }
  .why-us__content__article--green {
    width: 6rem;
  }
  .why-us__content__article--box {
    width: 5rem;
  }
  .why-us__content__article__title {
    font-size: 3rem;
  }
  .why-us__content__article__description {
    font-size: 1.5rem;
  }
}
.benefits {
  padding: 1.5rem;
  width: 100%;
  background-color: #F7F7F7;
  text-align: left;
}
.benefits__content {
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: #FFF;
  padding: 1rem;
}
.benefits__content__background--red {
  width: 40%;
  transform: translateX(110%);
}
.benefits__content__background--bleu {
  width: 40%;
  transform: translateX(70%);
}
.benefits__content__image--macbook {
  width: 57%;
  transform: translateX(-35%);
}
.benefits__content__image--phone {
  width: 55%;
  transform: translateX(-26%);
}
.benefits__content__image__trumpet {
  width: 100%;
  padding-top: 2rem;
  background: #55DFB4;
}
.benefits__content__title {
  font-size: 2rem;
  width: 80%;
  padding-bottom: 3rem;
  padding-top: 1.5rem;
}
.benefits__content__description {
  font-size: 0.9rem;
  width: 95%;
  padding-bottom: 1rem;
}
.benefits__content__vector {
  display: none;
}

.pricing {
  width: 100%;
  padding: 2rem 1rem;
}
.pricing__title {
  text-align: center;
  font-size: 2.3rem;
  padding-bottom: 1rem;
}
.pricing__ofert {
  width: 100%;
  margin: auto;
  border-radius: 1.5rem;
  padding: 2rem;
  margin-bottom: 3rem;
  position: relative;
}
.pricing__ofert--red {
  border: 1px solid #FB3B64;
}
.pricing__ofert--bleu {
  border: 1px solid #07ACE6;
}
.pricing__ofert--green {
  border: 1px solid #55DFB4;
}
.pricing__ofert__price {
  display: inline-block;
  width: 45%;
  text-align: center;
  transform: translate(-25%, -50%);
}
.pricing__ofert__price__title {
  font-size: 1.2em;
  font-family: Open Sans;
}
.pricing__ofert__price__price {
  font-size: 2.5em;
  font-family: Open Sans;
  top: 45%;
}
.pricing__ofert__price__price--red {
  color: #FB3B64;
}
.pricing__ofert__price__price--bleu {
  color: #07ACE6;
}
.pricing__ofert__price__price--green {
  color: #55DFB4;
}
.pricing__ofert__price__offer {
  font-size: 0.7em;
}
.pricing__ofert__details {
  display: inline-block;
  width: 50%;
  text-align: left;
}
.pricing__ofert__details__check {
  list-style: url("img/checkbox.png");
}
.pricing__ofert__details__nocheck {
  list-style: url("img/Cross.png");
}
.pricing__ofert__details__li {
  padding-bottom: 1rem;
  padding-left: 0.2rem;
  font-family: Open Sans;
}
.pricing__button {
  position: absolute;
  padding: 1em 4em;
  color: #FFF;
  border-radius: 2em;
  font-size: 0.7em;
  right: 35%;
  bottom: -10%;
  border-color: transparent;
}
.pricing__button--red {
  background-color: #FB3B64;
}
.pricing__button--bleu {
  background-color: #07ACE6;
}
.pricing__button--green {
  background-color: #55DFB4;
}

.contact {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  font-family: Open Sans;
}
.contact__us {
  width: 100%;
}
.contact__us__question {
  font-size: 2.5rem;
  font-family: Raleway;
}
.contact__us__call-us {
  font-size: 1rem;
  padding-bottom: 3rem;
}
.contact__us__mail {
  display: inline-block;
}
.contact__us__mail__text {
  width: 90%;
  display: inline-block;
  padding-bottom: 0.5rem;
  vertical-align: 40%;
}
.contact__us__phone {
  display: inline-block;
}
.contact__us__phone__text {
  width: 90%;
  display: inline-block;
  vertical-align: 40%;
  padding-bottom: 4rem;
}
.contact__form {
  width: 100%;
}
.contact__form__title {
  color: #08A6E4;
  width: 100%;
  margin-bottom: 3em;
}
.contact__form__text {
  width: 100%;
  border: none;
  background: none;
  border-bottom: 1px solid black;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.contact__form__icon {
  display: inline-block;
  margin-right: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  appearance: none;
  border: 0.1rem solid black;
}
.contact__form__icon:checked {
  background-image: url("img/checked.png");
  background-repeat: no-repeat;
  background-position: center;
}
.contact__form__check {
  display: inline-block;
  width: 85%;
  vertical-align: top;
}
.contact__button {
  padding: 1rem 4rem;
  border-radius: 2rem;
  border-style: none;
  background-color: #08A6E4;
  color: #FFF;
  transform: translateX(100%);
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  margin-top: 2.5rem;
}

.footer {
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  padding: 1rem;
}
.footer__text {
  display: inline-block;
  width: 65%;
}
.footer__text__title {
  display: inline-block;
  color: #08A6E4;
  font-family: Open Sans;
  font-size: 1.6em;
}
.footer__text__copy {
  display: inline-block;
  font-size: 0.7em;
  font-family: Open Sans;
  color: #A5A5A5;
}
.footer__img {
  display: inline-block;
  width: 30%;
  text-align: right;
}
.footer__img__twitter {
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}
.footer__img__facebook {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

@media only screen and (min-width: 1000px) {
  .footer__text {
    width: 40%;
    padding-left: 15rem;
  }
  .footer__text__title {
    font-size: 6rem;
  }
  .footer__text__copy {
    font-size: 3rem;
  }
  .footer__img {
    width: 55%;
    text-align: right;
    padding-right: 5rem;
  }
  .footer__img__twitter {
    width: 5rem;
    margin-right: 2rem;
  }
  .footer__img__facebook {
    width: 5rem;
    margin-left: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
