.benefits {
    width: 100%;
    background-color: #F7F7F7;
    text-align: left;
    padding: 1.5rem;

    &__content {
        width: 100%;
        margin-bottom: 1.5rem;
        background-color: #FFF;

        &--macbook {
            
            &__img {
                &__red {
                    width: 40%;
                    transform: translateX(110%);
                }

                &__macbook {
                    width: 57%;
                    transform: translateX(-35%);
                }
            }
        
        }

        &--iphone {
            &__img {
                &__blue {
                    width: 40%;
                    transform: translateX(70%);
                }

                &__iphone {
                    width: 55%;
                    transform: translateX(-26%);
                }
            }
        
        }

        &--trumpet {
            margin-bottom: 0%;
            &__img {
                background: #55DFB4;
                width: 100%;
                padding-top: 1rem;
            }

        }

        &__text {

            &__title{
                font-size: 2rem;
                width: 90%;
                padding: 1.5rem;
                padding-bottom: 3rem;
                padding-top: 1.5rem;
            }

            &__description {
                padding: 1.5rem;
                font-size: 0.9rem;
                width: 95%;
                padding-bottom: 1rem;
            }

            &__vector {
                display: none;
            }

        }   
    }
}

@media only screen and (min-width: 1200px) {
   .benefits {
        width: 100%;
        padding: 5rem 15rem;
        &__content {
            &--macbook{
                padding-top: 2rem;
                display: flex;
                flex-direction: row-reverse;
            }

            &--iphone{
                display: flex;

            }

            &--trumpet{
                display: flex;
                background-color: #F7F7F7;
                &__img {
                    padding-top: 3rem;
                    width: 40%;
                }
            }

            &__text {
                width: 60%;
                
                &--trumpet {
                    width: 70%;
                    margin-right: 3rem;
                    background-color: #FFF;
                }
                
                &__title {
                    font-size: 2rem;
                    padding-top: 3rem;
                    padding-left: 4rem;
                    padding-bottom: 1rem;

                    &--iphone{
                        margin-left: 7rem;
                        width: 45%;
                        
                    }

                    &--trumpet {
                        width: 50%;
                    }
                }

                &__description {
                    font-size: 1.1rem;
                    padding-bottom: 2.5rem;
                    padding-left: 4rem;

                    &--macbook{
                        width: 70%;
                       
                    }

                    &--iphone {
                        margin-left: 7rem;
                        width: 75%;
                        
                    }

                    &--trumpet {
                        width: 65%;
                    }
                }

                &__vector {
                    display: block;
                    width: 50%;
                    padding-bottom: 3rem;
                    padding-left: 4rem;

                    &--iphone {
                        margin-left: 7rem;
                        width: 60%;
                    }

                }
            }

        }
    }
}