.benefits {
    width: 100%;
    background-color: #F7F7F7;
    text-align: left;
    padding: 1.5rem;

    &__content {
        width: 100%;
        margin-bottom: 1.5rem;
        background-color: #FFF;

        &--macbook {
            
            &__img {
                &__red {
                    width: 40%;
                    transform: translateX(110%);
                }

                &__macbook {
                    width: 57%;
                    transform: translateX(-35%);
                }
            }
        
        }

        &--iphone {
            &__img {
                &__blue {
                    width: 40%;
                    transform: translateX(70%);
                }

                &__iphone {
                    width: 55%;
                    transform: translateX(-26%);
                }
            }
        
        }

        &--trumpet {
            margin-bottom: 0%;
            &__img {
                background: #55DFB4;
                width: 100%;
                padding-top: 1rem;
            }

        }

        &__text {

            &__title{
                font-size: 2rem;
                width: 90%;
                padding: 1.5rem;
                padding-bottom: 3rem;
                padding-top: 1.5rem;
            }

            &__description {
                padding: 1.5rem;
                font-size: 0.9rem;
                width: 95%;
                padding-bottom: 1rem;
            }

            &__vector {
                display: none;
            }

        }   
    }
}

@media only screen and (min-width: 1000px) {
   .benefits {
        padding: 4rem 10rem;
        width: 100%;
        margin-bottom: 3rem;

        &__content {
            width: 100%;

            &--macbook{
                display: flex;
                flex-direction: row-reverse;
                &__img {
                    width: 100%;

                    &--macbook{
                        width: 100%;
                    }

                    &--red {
                        width: 100%;
                    }
                }
            }

            &--iphone{
                display: flex;
                &__img {
                    width: 100%;

                    &--iphone{
                        width: 100%;
                    }

                    &--blue {
                        width: 100%;
                    }
                }
            }

            &--trumpet{
                width: 100%;
                display: flex;
                background-color: #F7F7F7;
                &__img {
                    width: 40%;
                }
            }

            &__text {
                padding: 0%;
                padding-left: 2rem;

                &--trumpet {
                    width: 60%;
                    margin-right: 3rem;
                    background-color: #FFF;
                }
                
                &__title {
                    padding-top: 4rem;
                    padding-bottom: 0rem;
                    font-size: 1.5rem;
                }

                &__description {
                    padding-bottom: 2em;
                    font-size: 0.7rem;
                }

                &__vector {
                    display: block;
                    width: 50%;
                    padding-bottom: 2rem;
                    padding-left: 2rem;
                }
            }

        }
    }
}