.benefits {
    width: 100%;
    background-color: #F7F7F7;
    text-align: left;
    padding: 1.5rem;

    &__content {
        width: 100%;
        margin-bottom: 1.5rem;
        background-color: #FFF;

        &--macbook {
            
            &__img {
                &__red {
                    width: 40%;
                    transform: translateX(110%);
                }

                &__macbook {
                    width: 57%;
                    transform: translateX(-35%);
                }
            }
        
        }

        &--iphone {
            &__img {
                &__blue {
                    width: 40%;
                    transform: translateX(70%);
                }

                &__iphone {
                    width: 55%;
                    transform: translateX(-26%);
                }
            }
        
        }

        &--trumpet {
            margin-bottom: 0%;
            &__img {
                background: #55DFB4;
                width: 100%;
                padding-top: 1rem;
            }

        }

        &__text {

            &__title{
                font-size: 2rem;
                width: 90%;
                padding: 1.5rem;
                padding-bottom: 3rem;
                padding-top: 1.5rem;
            }

            &__description {
                padding: 1.5rem;
                font-size: 0.9rem;
                width: 95%;
                padding-bottom: 1rem;
            }

            &__vector {
                display: none;
            }

        }   
    }
}

@media only screen and (min-width: 1000px) {
   .benefits {
        padding: 8rem 8rem;
        width: 100%;
        margin-bottom: 3rem;
            &--macbook {
                display: flex;
                flex-direction: row-reverse;
                margin-bottom: 3rem;
                &__img {
                    width: 50%;

                    &__red {
                        width: 10rem;
                    }

                    &__macbook {
                        width: 10rem;
                    }
                }
            }

            &--iphone {
                display: flex;
                margin-bottom: 3rem;

                &__img {
                    width: 50%;

                    &__blue {
                        width: 10rem;
                    }

                    &__iphone {
                        width: 10rem;
                    }
                }
            }

            &--trumpet {
                margin-bottom: 0%;
                background-color: #F7F7F7;
                display: flex;
                width: 100%;

                &__img {
                    width: 50%;
                    ;
                }
            }

            &__text {
                width: 50%;
                
                &__title{
                    

                    &--iphone {
                        
                    }

                    &--trumpet {
                        
                    }
                }
    
                &__description {
                    

                    &--trumpet {
                       
                    }
                    
                }

                &__vector {
                    display: block;
                }

                &--trumpet {
                    margin-right: 3rem;
                    background-color: #FFF;
                }

            }
        }
    }
