#button_Up {
    border: none;
    background: transparent;
    text-align: right;
    padding: 1rem;
    position: sticky;
    top: 0;
}

#logoup {
    width: 10%;
    
}

@media only screen and (min-width: 1000px){
    #button_Up {
        transform: translateX(130%);
    }
}