.contact {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    font-family: Open Sans;

    &__us {
        width: 100%;

        &__question {
        font-size: 2.5rem;
        font-family: Raleway;
    
        }
        &__call-us {
            font-size: 1rem;
            padding-bottom: 3rem;
        }

        &__content {

            &__mail {
                display: inline-block;

                &__text{
                    width: 90%;
                    display: inline-block;
                    padding-bottom: 0.5rem;
                    vertical-align: 40%;
                }
            }

            &__phone {
                display: inline-block;

                &__text{
                    width: 90%;
                    display: inline-block;
                    vertical-align: 40%;
                    padding-bottom: 4rem;
                }
            }
        }    
    }
    
    &__form {
        width: 100%;

        &__title {
            color: #08A6E4;
            width: 100%;
            margin-bottom: 3em;
        }

        &__text {
            width: 100%;
            border: none;
            background: none;
            border-bottom: 1px solid black;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }

        &__icon {
            display: inline-block;
            margin-right: 0.5rem;
            width: 1.6rem;
            height: 1.6rem;
            appearance: none;
            border: 0.1rem solid black;

            &:checked {
                background-image: url("img/checked.png");
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &__check {
            display: inline-block;
            width: 85%;
            vertical-align: top;
        }
    }

    &__button {
        padding: 1rem 4rem;
        border-radius: 2rem;
        border-style: none;
        background-color: #08A6E4;
        color: #FFF;
        transform: translateX(100%);
        box-shadow: 5px 10px 14px 0px #07ACE64A;
        margin-top: 2.5rem;
    }

}   

@media only screen and (min-width: 1000px) {
    .contact {
        width: 50%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2 , 50%);
        margin: auto;
        

        &__us {
            width: 80%;
            &__question {
                
            
                }
                &__call-us {
                    
                }

                &__content {
                    display: flex;
                &__mail {
                    

                    &__text{
                        
                        
                    }
                }
                &__phone {
                    width: 3rem;
                    height: 3rem;
                    margin-left: 2.5rem;
                    margin-right: 0.5rem;

                    &__text{
                        
                    }
                }

            } 
        }

        &__form {
            width: 100%;

            &__title {
                
            }

            &__icon {
                width: 3rem;
                height: 3rem;
            }

            &__check {
                
            }
            
        }

        &__button {
            
            border-radius: 3rem;
        }
    }
}