.footer{
    background-color: #F7F7F7;
    width: 100%;
    box-shadow: 0px 3px 6px  rgba(0, 0, 0, 0.29);

    &__title {
        display: inline-block;
        color: #08A6E4;
        font-family: Open Sans;
        font-size: 1.4em;
        padding-left: 0.5em;
    }

    &__copy {
        display: inline-block;
        font-size: 0.6em;
        font-family: Open Sans;
        padding-left: 1.3em;
    }

    &__facebook {
        transform: translate(600% , 50%);
    }

    &__twitter {
        transform: translate(550% , 50%);
    }
}