.header {
    width: 100%;
    overflow: hidden;
    text-align: center;
    &__content {
        padding-top: 6rem;
        padding-bottom: 6rem;

        &__title {
            font-size: 2rem;
            padding-bottom: 1.5rem;
        }

        &__description {
            font-size: 1rem;
            width: 65%;
            margin: auto;
            padding-bottom: 2rem;
        }

        &__button {
            background: #08A6E4;
            color: #FFF;
            font-family: Open Sans;
            padding: 1rem 6rem;
            border-radius: 2rem;
            border-color: transparent;
            box-shadow: 5px 10px 14px 0px #07ACE64A;

        }
    }   

    &__background {
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        transform: scale(2);
    }
}

@media only screen and (min-width: 1000px){
    .header {
        &__content {
            padding-top: 10rem;
            &__title {
                font-size: 7rem;
            }

            &__description {
                font-size: 2.5rem;
                padding-bottom: 4rem;
            }

            &__button {
                padding: 2rem 25rem;
                font-size: 2rem;
                border-radius: 5rem;
            }
        }
        
        &__background {
            width: 100%;
            height: 100%;
            transform: scale(1);
            padding: 0%;
        }
    }
}