.nav {
    width: 100%;
    box-shadow: 0px 3px 6px  rgba(0, 0, 0, 0.20);

    &__log {
        display: inline-block;
        font-family: Raleway;
        font-size: 1.5rem;
        color: #08A6E4;
        padding: 0.5rem;
    }

    &__menu {
        position: absolute;
        right: 0%;
        padding: 1rem;

    }

    &__navbar {
        display: none;
        list-style: none;
    }
}

@media only screen and (min-width: 1000px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 3px 6px 0px #0000004A;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        &__log{
            font-size: 2rem;
            padding-left: 4rem;
        }
        &__menu {
            display: none;
        }

        &__navbar {
            display: flex;
            font-size: 1rem;
            padding-right: 4rem;

            &__items {
                list-style: none;
                li {
                    display: inline-block;
                    padding-left: 1rem;
                    
                    a {
                        text-decoration: none;
                        color: #A5A5A5;

                        &:hover {
                            color: black;
                        }
                    }
                }
            }
            
        }
    }
}