.why-us {
    width: 100%;
    text-align: center;
    padding-top: 3.5rem;
    &__title {
        font-size: 2rem;
        padding-bottom: 3rem;
    }

    &__content {
    
        &__article {
            width: 100%;

            &--red {
                transform: translateX(30%);
            }

            &--person {
                transform: translateX(-30%);
            }

            &--blue {
                transform: translateX(50%);
            }

            &--eye {
                transform: translate(-30%, -30%);
            }

            &--green {
                transform: translateX(35%);
            }

            &--box {
                transform: translateX(-30%);
            }

            &__title {
                padding-top: 1rem;
                padding-bottom: 1.5rem;
            }

            &__description {
                padding-bottom: 2rem;
                font-size: 0.8em;
                width: 25%;
                margin: auto;
            }
        }
    }
}

@media only screen and (min-width: 1000px){
    .why-us {
        padding-bottom: 5rem;
        
        &__title {
            font-size: 1.5rem;
        }

        &__content {
            padding-left: 25%;
            padding-right: 25%;
            display: flex;

            &__article {
                width: 100%;

                &--red {
                    width: 3rem;
                }

                &--person {
                    width: 2rem;
                }

                &--blue {
                    width: 3rem;
                }

                &--eye {
                    width: 3rem;
                }

                &--green {
                    width: 3rem;
                }

                &--box {
                    width: 3rem;
                }
            
                &__description {
                    color: #A5A5A5;
                }
            }
        }
    }
}