.why-us {
    width: 100%;
    text-align: center;
    padding-top: 2.5rem;
    &__title {
        font-size: 2rem;
        padding-bottom: 1rem;
        font-weight: bolder;
    }
    
    &__article {
        width: 100%;

        &--red {
            transform: translateX(30%);
        }

        &--person {
            transform: translateX(-30%);
        }

        &--blue {
            transform: translateX(50%);
        }

        &--eye {
            transform: translate(-30%, -30%);
        }

        &--green {
            transform: translateX(35%);
        }

        &--box {
            transform: translateX(-30%);
        }

        &__description {
            padding-top: 1rem;
            padding-bottom: 2.5rem;
            font-size: 0.8em;
            width: 25%;
            margin: auto;
        }
    }
}